# --- Entornos Virtuales (NUNCA SUBIR) ---
.etls_create/
.airflow_pj/
venv/
env/
__pycache__/
*.pyc

# --- Secretos y Configuración Local (PELIGRO) ---
.env
airflow.cfg
webserver_config.py
airflow.db
airflow-webserver.pid

# --- Logs y Basura ---
logs/
*.log